In [4]:
# 1. 사용자가 평가한 모든 영화의 전체 평균 평점
import pandas as pd

df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')
display(df.head())
print(df['rating'].mean())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

3.501556983616962

In [6]:
# 2. 각 사용자별 평균 평점 (출력시 정렬은 userId로 오름차순 정렬)
import pandas as pd

df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')
group_user = df.groupby(['userId']).mean()
display(group_user)
print(group_user['rating'])

             movieId    rating     timestamp
userId
1        1854.603448  4.366379  9.649856e+08
2       70350.275862  3.948276  1.445715e+09
3        7058.384615  2.435897  1.306464e+09
4        1982.129630  3.555556  9.658643e+08
5         343.840909  3.636364  8.474351e+08
...              ...       ...           ...
606      9692.197309  3.657399  1.179512e+09
607      1860.636364  3.786096  9.647841e+08
608      4502.605295  3.134176  1.122668e+09
609       483.162162  3.270270  8.472210e+08
610     49590.231183  3.688556  1.489454e+09

[610 rows x 3 columns]

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [9]:
# 3. 각 영화별 평균 평점 (출력시 정렬은 movieId로 오름차순 정렬)
import pandas as pd

df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')
group_movie = df.groupby(['movieId']).mean()
display(group_movie)
print(group_movie['rating'])

             userId    rating     timestamp
movieId
1        306.530233  3.920930  1.129835e+09
2        329.554545  3.431818  1.135805e+09
3        283.596154  3.259615  1.005110e+09
4        219.857143  2.357143  8.985789e+08
5        299.571429  3.071429  9.926643e+08
...             ...       ...           ...
193581   184.000000  4.000000  1.537109e+09
193583   184.000000  3.500000  1.537110e+09
193585   184.000000  3.500000  1.537110e+09
193587   184.000000  3.500000  1.537110e+09
193609   331.000000  4.000000  1.537158e+09

[9724 rows x 3 columns]

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64

In [25]:
# 4. 평균 평점이 가장 높은 영화의 제목
# (단, 동률이 있을 경우 모두 출력하고 title을 기준으로 오름차순 정렬)
import pandas as pd

movie_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\movies.csv')
rating_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')

group_id = rating_df.groupby(['movieId']).mean()
movie_df.set_index('movieId', inplace=True)
df = pd.merge(movie_df, group_id, on='movieId', how='inner')
# display(df)

maximum = df['rating'].max()
result = df.loc[df['rating']==maximum]
display(result)

sort_result = result.sort_values(by='title')
print(sort_result['title'])

,title,genres,userId,rating,timestamp
movieId,,,,,
53,Lamerica (1994),Adventure|Drama,344.0,5.0,9.263241e+08
99,Heidi Fleiss: Hollywood Madam (1995),Documentary,397.0,5.0,8.921209e+08
148,"Awfully Big Adventure, An (1995)",Drama,191.0,5.0,8.297609e+08
467,Live Nude Girls (1995),Comedy,492.0,5.0,8.639766e+08
495,In the Realm of the Senses (Ai no corrida) (1976),Drama,603.0,5.0,9.539271e+08
...,...,...,...,...,...
176601,Black Mirror,(no genres listed),62.0,5.0,1.525795e+09
179133,Loving Vincent (2017),Animation|Crime|Drama,105.0,5.0,1.526207e+09
179135,Blue Planet II (2017),Documentary,318.0,5.0,1.533932e+09
184245,De platte jungle (1978),Documentary,318.0,5.0,1.517774e+09
187717,Won't You Be My Neighbor? (2018),Documentary,462.0,5.0,1.529414e+09

movieId
27751                  'Salem's Lot (2004)
77846                  12 Angry Men (1997)
141816                    12 Chairs (1976)
5468      20 Million Miles to Earth (1957)
27373                           61* (2001)
                        ...
187717    Won't You Be My Neighbor? (2018)
108795                 Wonder Woman (2009)
158398               World of Glory (1991)
173351         Wow! A Talking Fish! (1983)
84273     Zeitgeist: Moving Forward (2011)
Name: title, Length: 296, dtype: object

In [32]:
# 5. Comedy영화 중 가장 평점이 낮은 영화의 제목을 출력
# (단, 동률이 있을 경우 모두 출력하고 title을 기준으로 오름차순 정렬)
import pandas as pd

movie_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\movies.csv')
rating_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')

group_id = rating_df.groupby(['movieId']).mean()
movie_df.set_index('movieId', inplace=True)
df = pd.merge(group_id, movie_df, on='movieId', how='inner')
# display(df)

cond1 = df['genres'].str.contains('Comedy')
comedy_df = df.loc[cond1, :]
# display(comedy_df)

minimum = comedy_df['rating'].min()
result = comedy_df.loc[comedy_df['rating']==minimum]
sort_result = result.sort_values(by='title')
display(sort_result)
print(sort_result['title'])

,userId,rating,timestamp,title,genres
movieId,,,,,
134528,298.0,0.5,1.458650e+09,Aloha (2015),Comedy|Drama|Romance
31422,307.0,0.5,1.186085e+09,Are We There Yet? (2005),Children|Comedy
91414,517.0,0.5,1.487956e+09,Arthur Christmas (2011),Animation|Children|Comedy|Drama
165645,111.0,0.5,1.516156e+09,Bad Santa 2 (2016),Comedy
6557,599.0,0.5,1.498503e+09,Born to Be Wild (1995),Adventure|Children|Comedy|Drama
25782,567.0,0.5,1.525290e+09,Boudu Saved From Drowning (Boudu sauvé des eau...,Comedy
54934,298.0,0.5,1.467490e+09,"Brothers Solomon, The (2007)",Comedy
26095,358.0,0.5,1.339546e+09,"Carabineers, The (Carabiniers, Les) (1963)",Comedy|Drama|War
54768,219.0,0.5,1.194932e+09,Daddy Day Camp (2007),Children|Comedy
7312,88.0,0.5,1.331421e+09,"Follow Me, Boys! (1966)",Comedy|Drama
85334,358.0,0.5,1.339546e+09,Hard Ticket to Hawaii (1987),Action|Comedy
110773,111.0,0.5,1.516156e+09,"Haunted House 2, A (2014)",Comedy|Horror
27595,599.0,0.5,1.519176e+09,Jesus Christ Vampire Hunter (2001),Action|Comedy|Horror|Musical
138798,298.0,0.5,1.450453e+09,Joe Dirt 2: Beautiful Loser (2015),Comedy
92681,567.0,0.5,1.525290e+09,Journey 2: The Mysterious Island (2012),Action|Adventure|Comedy|Sci-Fi|IMAX
44243,599.0,0.5,1.498503e+09,Leprechaun 4: In Space (1997),Comedy|Fantasy|Horror|Sci-Fi
104644,111.0,0.5,1.517441e+09,Maria Bamford: The Special Special Special! (2...,Comedy
72696,382.0,0.5,1.515163e+09,Old Dogs (2009),Comedy
141994,514.0,0.5,1.536381e+09,Saving Christmas (2014),Children|Comedy
8632,483.0,0.5,1.178294e+09,Secret Society (2002),Comedy
175475,184.0,0.5,1.537110e+09,The Emoji Movie (2017),Animation|Children|Comedy
135216,514.0,0.5,1.536381e+09,The Star Wars Holiday Special (1978),Adventure|Children|Comedy|Sci-Fi
122246,567.0,0.5,1.525290e+09,Tooth Fairy 2 (2012),Children|Comedy
31692,221.0,0.5,1.121365e+09,Uncle Nino (2003),Comedy
60363,68.0,0.5,1.240093e+09,Zombie Strippers! (2008),Comedy|Horror

movieId
134528                                         Aloha (2015)
31422                              Are We There Yet? (2005)
91414                               Arthur Christmas (2011)
165645                                   Bad Santa 2 (2016)
6557                                 Born to Be Wild (1995)
25782     Boudu Saved From Drowning (Boudu sauvé des eau...
54934                          Brothers Solomon, The (2007)
26095            Carabineers, The (Carabiniers, Les) (1963)
54768                                 Daddy Day Camp (2007)
7312                                Follow Me, Boys! (1966)
85334                          Hard Ticket to Hawaii (1987)
110773                            Haunted House 2, A (2014)
27595                    Jesus Christ Vampire Hunter (2001)
138798                   Joe Dirt 2: Beautiful Loser (2015)
92681               Journey 2: The Mysterious Island (2012)
44243                         Leprechaun 4: In Space (1997)
104644    Maria Bamford: The Special Special Special! (2...
72696                                       Old Dogs (2009)
141994                              Saving Christmas (2014)
8632                                  Secret Society (2002)
175475                               The Emoji Movie (2017)
135216                 The Star Wars Holiday Special (1978)
122246                                 Tooth Fairy 2 (2012)
31692                                     Uncle Nino (2003)
60363                              Zombie Strippers! (2008)
Name: title, dtype: object

In [48]:
# 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점
import pandas as pd

movie_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\movies.csv')
rating_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')

# group_id = rating_df.groupby(['movieId']).mean()    # 영화별 평균 먼저하면 안됨
# 로맨스 영화 따로 빼내고 거기서 평균

movie_df.set_index('movieId', inplace=True)
df = pd.merge(movie_df, rating_df, on='movieId', how='inner')
# display(df)

df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df['year'] = df['timestamp'].dt.year
# display(df)

year_df = df.loc[df['year']==2015]
display(year_df)

result = year_df.loc[year_df['genres'].str.contains('Romance'), :]
display(result)
print(result['rating'].mean())

,movieId,title,genres,userId,rating,timestamp,year
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,2015-09-25 16:47:49,2015
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,0.5,2015-08-10 00:12:28,2015
36,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,103,4.0,2015-05-18 13:03:58,2015
38,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,112,3.0,2015-09-18 00:20:39,2015
39,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,119,3.5,2015-07-03 16:54:28,2015
...,...,...,...,...,...,...,...
99463,143525,Chasuke's Journey (2015),Comedy|Drama,318,4.0,2015-10-22 11:05:51,2015
99481,144478,"Sex, Drugs & Taxation (2013)",Comedy|Drama,318,4.5,2015-12-27 12:18:19,2015
99504,146024,A Man from Boulevard des Capucines (1987),Comedy|Romance|Western,256,4.0,2015-11-03 19:44:20,2015
99505,146028,The Adventures of Sherlock Holmes and Dr. Wats...,Crime|Mystery,105,4.0,2015-11-20 06:20:01,2015
99579,148626,"Big Short, The (2015)",Drama,318,4.5,2015-12-31 11:47:20,2015

,movieId,title,genres,userId,rating,timestamp,year
355,3,Grumpier Old Men (1995),Comedy|Romance,308,0.5,2015-01-16 02:14:25,2015
554,7,Sabrina (1995),Comedy|Romance,177,1.0,2015-06-28 23:33:52,2015
769,11,"American President, The (1995)",Comedy|Drama|Romance,177,3.0,2015-07-03 02:31:00,2015
980,17,Sense and Sensibility (1995),Drama|Romance,227,3.5,2015-11-11 02:46:44,2015
992,17,Sense and Sensibility (1995),Drama|Romance,323,3.5,2015-01-30 17:51:28,2015
...,...,...,...,...,...,...,...
99249,139747,Before We Go (2014),Romance,563,3.5,2015-11-23 01:46:09,2015
99254,139915,How to Make Love Like an Englishman (2014),Comedy|Romance,21,2.5,2015-09-04 19:11:59,2015
99273,140162,Love (2015),Drama|Romance,318,4.5,2015-12-21 17:12:29,2015
99290,140301,The Escort (2015),Comedy|Romance,21,3.0,2015-09-04 19:12:54,2015
99504,146024,A Man from Boulevard des Capucines (1987),Comedy|Romance|Western,256,4.0,2015-11-03 19:44:20,2015

3.396375098502758

In [79]:
# 7. 모든 영화장르 중 사용자 평점이 가장 좋은 영화장르
# (단, 동률이 있을 경우 장르를 기준으로 오름차순 정렬)
import pandas as pd

movie_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\movies.csv')
rating_df = pd.read_csv(r'C:\Users\sun\Desktop\Data\movie\ratings.csv')

movie_df.set_index('movieId', inplace=True)
df = pd.merge(movie_df, rating_df, on='movieId', how='inner')
# display(df)

group_gen = df.groupby(['genres']).max()
display(group_gen)

maximum = group_gen['rating'].max()
result = group_gen.loc[group_gen['rating']==maximum]
print(result['rating'])

,movieId,title,userId,rating,timestamp
genres,,,,,
(no genres listed),182727,Whiplash (2013),601,5.0,1537109726
Action,176935,Walking Tall (2004),610,5.0,1536873502
Action|Adventure,160563,Yojimbo (1961),610,5.0,1537158101
Action|Adventure|Animation,149406,The Boy and the Beast (2015),610,5.0,1537094815
Action|Adventure|Animation|Children,187541,Incredibles 2 (2018),610,5.0,1536873798
...,...,...,...,...,...
Sci-Fi|Thriller,190183,"Timecrimes (Cronocrímenes, Los) (2007)",608,5.0,1537158127
Sci-Fi|Thriller|IMAX,89470,Contagion (2011),599,4.5,1498517057
Thriller,173941,Who Am I (Kein System Ist Sicher) (2014),610,5.0,1537108232
War,60389,Run Silent Run Deep (1958),572,5.0,1234335266
Western,128695,Wyatt Earp (1994),610,5.0,1536873228

genres
(no genres listed)                     5.0
Action                                 5.0
Action|Adventure                       5.0
Action|Adventure|Animation             5.0
Action|Adventure|Animation|Children    5.0
                                      ...
Sci-Fi|IMAX                            5.0
Sci-Fi|Thriller                        5.0
Thriller                               5.0
War                                    5.0
Western                                5.0
Name: rating, Length: 560, dtype: float64